<form action="/payment/results" method="get">

  <div>
    <label for="user_apr"> APR </label>
  </div>

  <div>
    <input type="text" name="user_apr" id="user_apr" placeholder="E.g. 10.0"> 
  </div>

  <div>
    <label for="user_years"> Number of years </label>
  </div>

  <div>
    <input type="text" name="user_years" id="user_years" placeholder="How many years to repay?"> 
  </div>

  <div>
    <label for="user_principal"> Principal </label>
  </div>

  <div>
    <input type="text" name="user_principal" id="user_principal" placeholder="How much principal?"> 
  </div>

  <button type="submit">
    Calculate monthly payment
  </button>

</form>
