<form action="/random/results">

  <div>
    <label for="min_number"> Minimum </label>
  </div>

  <div>
    <input type="text" name="min_number" id="min_number" placeholder="E.g. 1.5"> 
  </div>

  <div>
    <label for="max_number"> Maximum </label>
  </div>

  <div>
    <input type="text" name="max_number" id="max_number" placeholder="E.g. 5.5"> 
  </div>

  <button type="submit">
    Pick random number
  </button>

</form>
