<form action="/square/results">

  <div>
    <label for="min_number"> Minimum </label>
  </div>

  <div>
    <input type="text" name="number" id="user_number" placeholder="What number do you want to take the square of?"> 
  </div>

  <button type="submit">
    Calculate square
  </button>

</form>
